In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("jewelry.csv")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   2018-12-01 11:40:29 UTC  95910 non-null  object
 1   1924719191579951782      95910 non-null  int64
 2   1842195256808833386      95910 non-null  int64
 3   1                        95910 non-null  int64
 4   1806829201890738522      90558 non-null  float64
 5   jewelry.earring          85977 non-null  object
 6   0                        91125 non-null  float64
 7   561.51                   90558 non-null  float64
 8   1515915625207851155      90558 non-null  float64
 9   Unnamed: 9               47743 non-null  object
 10  red                      88250 non-null  object
 11  gold                     90448 non-null  object
 12  diamond                  61852 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [12]:
df.head()

,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1806829201890738522,jewelry.earring,0,561.51,1515915625207851155,Unnamed: 9,red,gold,diamond
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN

In [13]:
df.drop(columns=['1', '1806829201890738522', 'Unnamed: 9'], inplace=True)
df = df.rename(columns={'2018-12-01 11:40:29 UTC':'date', '1924719191579951782':'order_id', '1842195256808833386':'product_id'\
                  , 'jewelry.earring':'category', '0':'brand_id', '561.51':'price', '1515915625207851155':'user_id'\
                  , 'red':'main_color', 'gold':'main_metal', 'diamond':'main_gem' })

In [14]:
df[df.columns[df.isna().any()]].isna().sum()

category       9933
brand_id       4785
price          5352
user_id        5352
main_color     7660
main_metal     5462
main_gem      34058
dtype: int64

For better analysis, I delete orders that do not have an assigned user id or category.

In [16]:
df.dropna(subset=['user_id','category'],inplace=True)
df = df.reset_index(drop=True)
df

,date,order_id,product_id,category,brand_id,price,user_id,main_color,main_metal,main_gem
0,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,jewelry.pendant,1.0,54.66,1.515916e+18,white,gold,sapphire
1,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,jewelry.pendant,0.0,88.90,1.515916e+18,red,gold,diamond
2,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,jewelry.necklace,0.0,417.67,1.515916e+18,red,gold,amethyst
3,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,jewelry.earring,1.0,102.27,1.515916e+18,red,gold,NaN
4,2018-12-02 22:09:34 UTC,1925760595336888995,1600021442638905547,jewelry.earring,0.0,150.55,1.515916e+18,red,gold,diamond
...,...,...,...,...,...,...,...,...,...,...
80620,2021-12-01 09:32:35 UTC,2719009022110859402,1956663836207481431,jewelry.ring,0.0,145.62,1.515916e+18,red,gold,NaN
80621,2021-12-01 09:37:28 UTC,2719011482355368159,1956663847389495299,jewelry.earring,0.0,301.23,1.515916e+18,red,gold,amethyst
80622,2021-12-01 09:52:06 UTC,2719018846999544322,1956663848219968336,jewelry.earring,1.0,630.00,1.515916e+18,white,gold,diamond
80623,2021-12-01 09:55:35 UTC,2719020596963836492,1835566854106513435,jewelry.earring,0.0,83.42,1.515916e+18,white,gold,fianit
80624,2021-12-01 09:59:07 UTC,2719022379232658075,1956663846156370429,jewelry.pendant,1.0,97.12,1.515916e+18,red,gold,NaN

In [19]:
df['date']=pd.to_datetime(df['date'])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80625 entries, 0 to 80624
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        80625 non-null  datetime64[ns, UTC]
 1   order_id    80625 non-null  int64
 2   product_id  80625 non-null  int64
 3   category    80625 non-null  object
 4   brand_id    77120 non-null  float64
 5   price       80625 non-null  float64
 6   user_id     80625 non-null  float64
 7   main_color  78390 non-null  object
 8   main_metal  80533 non-null  object
 9   main_gem    61007 non-null  object
dtypes: datetime64[ns, UTC](1), float64(3), int64(2), object(4)
memory usage: 6.2+ MB

,date,order_id,product_id,category,brand_id,price,user_id,main_color,main_metal,main_gem
0,2018-12-02 13:53:42+00:00,1925511016616034733,1842214461889315556,jewelry.pendant,1.0,54.66,1.515916e+18,white,gold,sapphire
1,2018-12-02 17:44:02+00:00,1925626951238681511,1835566849434059453,jewelry.pendant,0.0,88.90,1.515916e+18,red,gold,diamond
2,2018-12-02 21:30:19+00:00,1925740842841014667,1873936840742928865,jewelry.necklace,0.0,417.67,1.515916e+18,red,gold,amethyst
3,2018-12-02 22:09:34+00:00,1925760595336888995,1835566854827934449,jewelry.earring,1.0,102.27,1.515916e+18,red,gold,NaN
4,2018-12-02 22:09:34+00:00,1925760595336888995,1600021442638905547,jewelry.earring,0.0,150.55,1.515916e+18,red,gold,diamond
...,...,...,...,...,...,...,...,...,...,...
80620,2021-12-01 09:32:35+00:00,2719009022110859402,1956663836207481431,jewelry.ring,0.0,145.62,1.515916e+18,red,gold,NaN
80621,2021-12-01 09:37:28+00:00,2719011482355368159,1956663847389495299,jewelry.earring,0.0,301.23,1.515916e+18,red,gold,amethyst
80622,2021-12-01 09:52:06+00:00,2719018846999544322,1956663848219968336,jewelry.earring,1.0,630.00,1.515916e+18,white,gold,diamond
80623,2021-12-01 09:55:35+00:00,2719020596963836492,1835566854106513435,jewelry.earring,0.0,83.42,1.515916e+18,white,gold,fianit
80624,2021-12-01 09:59:07+00:00,2719022379232658075,1956663846156370429,jewelry.pendant,1.0,97.12,1.515916e+18,red,gold,NaN

In [21]:
df.to_pickle("./jewelry_store.pkl")

In [22]:
del df